/********************
GENERAL
********************/

p,
h3,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span {
  line-height: 1.1;
  cursor: default;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

a {
  color: inherit;
}

p {
  margin-bottom: 0;
}

.container {
  position: relative;
}



/********************
HEADER
********************/

header {
  color: #fff;
}

header .container {
  background-color: #53bec4;
  padding-bottom: 15px;
}

.main-logo-bg {
  background-color: #333;
}

.main-logo {
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 7px;
}

.discript {
  padding-top: 10px;
  font-size: 28px;
}

.main-tel {
  padding-top: 17px;
  font-size: 24px;
  text-align: center;
}

.main-nav ul {
  padding-top: 10px;
  text-align: right;
}

.main-nav li {
  padding-bottom: 5px;
  font-size: 16px;
}

.main-nav li a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dashed;
}



/********************
CONTENT
********************/

.content .container {
  background-color: #f7f7f7;
}

.offset {
  margin-left: 22.38%;
}

.left-sidebar {
  background: #f2f2f2;
  position: fixed;
  width: 240px;
  top: 0;
  height: 100%;
  z-index: 999;
}

.menu-nav {
  margin-bottom: 20px;
}

.menu-nav li {
  height: 26px;
  font-family: 'PT Sans', sans-serif;
}

.menu-nav li:first-of-type {
  margin-top: 28px;
}

.menu-nav li a {
  padding-right: 25px;
  display: block;
  height: 26px;
  font-size: 13px;
  line-height: 26px;
  text-align: right;
  text-transform: uppercase;
  color: #333;
  transition: padding ease-in-out .2s;
}

.menu-nav .current a,
.menu-nav a:hover {
  position: relative;
  padding-right: 50px;
  text-decoration: none;
  color: #333;
  border-right: 4px solid #52bfc6;
}

.menu-nav .current a {
  font-weight: bold;
}

.current-menu-header {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 53px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-sort {
  margin-top: 20px;
  text-align: right;
}

.catalog-sort span {
  font-size: 14px;
}

.catalog-sort-toggle {
  margin-left: 15px;
  border-bottom: 1px dotted;
}

.catalog-sort-toggle.current {
  position: relative;
  font-weight: bold;
}

.catalog-sort-toggle.current:after {
  position: absolute;
  right: -10px;
  content: '\2191';
}

.catalog-sort-toggle:hover {
  text-decoration: none;
  color: inherit;
}

.catalog .item {
  position: relative;
  margin-bottom: 26px;
  background-color: #fff;
  min-height: 293px;
}

.catalog .item-img {
  margin-right: auto;
  margin-left: auto;
  max-width: 240px;
  height: auto;
}

.catalog .item-name a {
  font-weight: bold;
  text-decoration: underline;
  margin-left: 15px;
  font-size: 16px;
}

.item-composition {
  margin-left: 15px;
  margin-bottom: 15px;
}

.catalog .item-name a:hover {
  color: inherit;
  color: #000;
}

.catalog .item-price {
  font-size: 22px;
  font-weight: bold;
  float: left;
  position: absolute;
  left: 15px;
  bottom: 5px;
}

.catalog .item-action-btn {
  width: 78px;
  height: 34px;
  font-size: 19px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #df0b0b;
  position: absolute;
  right: 0;
  bottom: 0;
}

.catalog .item-action-btn:hover {
  text-decoration: none;
  background-color: #b28e7f;
}



/********************
FOOTER
********************/

footer .container {
  background-color: #53bec4;
  color: #fff;
}

.politics {
  margin-top: 12px;
  font-size: 16px;
  text-align: center;
}

.politics a {
  margin-top: 5px;
  display: inline-block;
  text-decoration: underline;
}

footer .main-nav ul {
  text-align: left;
}
