/********************
GENERAL
********************/

p,
h3,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span {
  line-height: 1.1;
  cursor: default;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
}

p {
  margin-bottom: 0;
}



/********************
HEADER
********************/

header {
  color: #fff;
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  background-color: #53bec4;
}

.main-logo-bg {
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 240px;
  background: #fff;
}

.main-logo {
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 5px red;
}

.discript {
  padding-top: 18px;
  font-size: 28px;
}

.main-tel {
  padding-top: 24px;
  font-size: 24px;
  text-align: center;
}

.main-nav ul {
  padding-top: 20px;
  text-align: center;
}

.main-nav li {
  padding-bottom: 5px;
  font-size: 16px;
}

.main-nav li a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dashed;
}



/********************
CONTENT
********************/

.content .container {
  /*background-color: #391306;*/
  /*color: #fff*/
}

.left-sidebar {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 240px;
  background: #fff;
}

.menu-nav {
  margin-bottom: 20px;
}

.menu-nav li {
  height: 26px;
  font-family: 'PT Sans', sans-serif;
}

.menu-nav li a {
  padding-right: 25px;
  display: block;
  height: 26px;
  font-size: 13px;
  line-height: 26px;
  text-align: right;
  text-transform: uppercase;
  color: #bbb;
  transition: padding ease-in-out .2s;
}

.menu-nav .current a,
.menu-nav a:hover {
  position: relative;
  padding-right: 50px;
  text-decoration: none;
  color: #a9a9a9;
  border-right: 4px solid #52bfc6;
}

.current-menu-header {
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-sort {
  margin-top: 20px;
  text-align: right;
}

.catalog-sort span {
  font-size: 14px;
}

.catalog-sort-toggle {
  margin-left: 15px;
  border-bottom: 1px dotted;
}

.catalog-sort-toggle.current {
  position: relative;
  font-weight: bold;
}

.catalog-sort-toggle.current:after {
  position: absolute;
  right: -10px;
  content: '\2191';
}

.catalog-sort-toggle:hover {
  text-decoration: none;
  color: inherit;
}

.catalog .item {
  position: relative;
  margin-bottom: 85px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  box-shadow: 0 0 5px  #ccc;
}

.catalog .item-img {
  margin-right: auto;
  margin-left: auto;
  max-width: 240px;
  height: auto;
}

.catalog .item-name a {
  font-weight: bold;
  text-decoration: underline;
}

.catalog .item-name a:hover {
  color: inherit;
  color: #000;
}

.catalog .item-price {
  position: absolute;
  right: 85px;
  bottom: -38px;
  font-size: 22px;
  font-weight: bold;
}

.catalog .item-action-btn {
  position: absolute;
  right: 0;
  bottom: -40px;
  width: 70px;
  height: 34px;
  font-size: 19px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #df0b0b;
  border-radius: 2px;
}

.catalog .item-action-btn:hover {
  text-decoration: none;
  background-color: #b28e7f;
}



/********************
FOOTER
********************/

footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ccc;
}

.politics {
  margin-top: 12px;
  font-size: 16px;
  text-align: center;
}

.politics a {
  margin-top: 5px;
  display: inline-block;
  text-decoration: underline;
}
